version: '3.9'

services:

    {{ COMPOSE_PROJECT_NAME|lower }}:
        image: {{ prompt_docker_swarm_registry_address }}:{{ prompt_docker_swarm_registry_port }}/{{DOCKER_BASE_PROJECT_NAME|lower}}_{{COMPOSE_PROJECT_NAME|lower}}:latest
        environment:
            - MB_DB_TYPE=postgres
            - MB_DB_NAME={{ METABASE_DB }}
            - MB_DB_PORT={{ PGDB_CLOUD_PORT }}
            - MB_DB_USER={{ METABASE_USER }}
            - MB_DB_PASS={{ METABASE_PASSWORD }}
            - MB_DB_HOST={{ PGDB_CLOUD_SERVICE }}
        networks:
            - {{ NETWORK_SUBNET_NAME }}
        # service deployment
        deploy:
            labels:
                - "traefik.enable=true"
                - "traefik.docker.network={{ NETWORK_SUBNET_NAME }}"
                - "traefik.http.routers.{{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}.rule=Host(`{{ VIRTUAL_HOST }}`)"
                - "traefik.http.routers.{{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}.tls.certresolver={{ CERT_RESOLVER }}"
                - "traefik.http.routers.{{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}.entrypoints=websecure"
                - "traefik.http.routers.{{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}.service={{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}"
                - "traefik.http.services.{{ DOCKER_BASE_PROJECT_NAME|lower }}_{{ COMPOSE_PROJECT_NAME|lower }}.loadbalancer.server.port={{ METABASE_INSIDE_PORT }}"
            mode: replicated
            replicas: 1
            # service resource management
            resources:
                # Hard limit - Docker does not allow to allocate more
                limits:
                    cpus: '1.5'
                    memory: 2048M
            # service restart policy
            restart_policy:
                condition: on-failure
                delay: 60s
            # placement constraint - in this case on 'manager' nodes only
            placement:
                max_replicas_per_node: 1
                constraints:
                    - "node.role==manager"
                    - "node.labels.{{prompt_docker_swarm_base_node_manager_lead_label}}==true"
            # service update configuration
            update_config:
                parallelism: 2
                delay: 10s
                order: stop-first

networks:
    {{ NETWORK_SUBNET_NAME }}:
        external: true
